<form action="/login" method="post">
  <label for="email">email</label>
  <input type="email" name="email"> 
  <br><br>
  <label for="password">password</label>
  <input type="password" name="password">
  <br><br>
    <br><br>
  <input type="submit" value="login!">
</form>

<a href="/loginFacebook">Log in with facebook</a>

{{!-- {{#if failureFlash}}
<h5>{{failureFlash}}</h5>
{{/if}} --}}