<div class="card" style="width: 360px; margin: 10px;">
  <div class="card-content">
    <p class="title">
      {{name}}
    </p>
    <p class="subtitle">
      {{location.address}}
    </p>
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">
      <div class="btn-group" role="group" aria-label="Basic example">
        <a type="button" href="/edit/{{_id}}" class="btn btn-warning">Edit</a>
        <a type="button" href='/deletePlace/{{_id}}' class="btn btn-danger">Delete</a>
      </div>
    </p>
  </footer>
</div>