<h1>Create new place</h1>
<form action="/place/add" method="POST">
<label for="name">Name:
  <input type="text" name="name" id="name">
</label>
<br>
<label for="placeType">Place type:</label>
  <select name="placeType" id="placeType">
    <option value="coffee shop">Coffe Shop</option>
    <option value="bookstore">Bookstore</option>
  </select>
<br>
<button type="submit">Create</button>

</form>