<h2>Create new Place</h2>
<div id='map' style='width: 100%; height: 400px;'></div>

<form action="/place/create" method="post">
    <label for="name">Name</label>
    <input required name="name" type="text">

    <label for="placeType">location</label>
    <select required name="placeType" id="placeType">
        <option value="coffee shop">Coffee shop</option>
        <option value="bookstore">bookstore</option>

    </select>
    <input hidden id="lat" name="lat" type="text">
    <input hidden id="lng" name="lng" type="text">
    <button type="submit">Submit!</button>
</form>
<a href="/private">Cancel</a>



<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"
    type="text/css" />
<script src="/javascripts/addPlace.js"></script>