<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>home</p>

<a href="/login"><button type="button" name="button">Login</button></a>
<a href="/signup"><button type="button" name="button">Signup</button></a>
