<a href="/auth/google">Login with google</a>
<br />
<a href="/auth/facebook">Login with facebook</a>
<!-- prettier-ignore-start -->
<br>
<a href="/signUp">Create account</a>
<br>
<a href="/signIn">Log In</a>


<h3>Public</h3>

<div id="map" style="width: 100%; height: 400px"></div>

<hr />
{{#each places}}
<h4>{{ this.name }}</h4>
<p>{{ this.placeType }}</p>

{{/each}}

<script>
  window.onload = () => {
    { {#each places } }
    new mapboxgl.Marker().setLngLat([{{ location.coordinates }}]).addTo(map)
  {
    {
      /each}}
    }
</script>
<!-- prettier-ignore-end -->