<h1>Places</h1>
<div id='map' style='width: 100%; height: 450px;'></div>

<script>
  window.onload = () => {
    {{#each places}}
    new mapboxgl.Marker().setLngLat([{{location.coordinates}}]).addTo(map)
  {{/each}}
  }
</script>