doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css')
    javascript(src="https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js")
     
    
  body
    block content
