<h2>Log in!</h2>
<a href="/">cancel</a>


<form action="/logIn" method="post">
  <label for="name">Name</label>
  <input name="name" required type="text">
  <label for="email">Email</label>
  <input name="email" required type="text">
  <label for="password">Password</label>
  <input name="password" required type="password">
  <button type="submit">Submit!</button>
</form>