<h1>Places</h1>

<a href="/places/create"><button>Create New Place</button></a>

<ul>
  {{#each places}}
  <li><a href="/places/{{_id}}">{{name}}</a>
  <a href="/places/delete/{{_id}}">✖</a></li>
  {{/each}}
</ul>

