<form action="/places/create" method="POST">
  <label for="name">Name:
    <input type="text" id="name" name="name"></input>
  </label>
  <label for="placeType">Place Type:
    <select name="placeType" id="placeType">
      <option value="coffee shop">Coffe shop</option>
      <option value="bookstore">Bookstore</option>
    </select>
   </label>
   <button type="submit">Create place</button>
</form>