<h1>Coffee and Books</h1>

<h2>Iteración 1 y 2</h2>
<p> <a href="/signup">Sign Up</a></p>
<p> <a href="/login">Log In</a></p>
<p><a href="/logout">Log Out</a></p>

<h2>Iteración 3,4,5</h2>


<p> <a href="/places">Places</a></p>
<p> <a href="/places/new">New Place</a></p>
<h2>Iteración 6</h2>

<p> <a href="/feeds">Feeds</a></p>
