<h1>Sign Up</h1>

<form action="/signup" method="post">
  <label for="name">Full Name</label>
  <input type="text" name="name">
  <br>
  <br>
  <label for="email">Email </label>
  <input type="text" name="email">
  <br>
  <br>
  <label for="password">Password</label>
  <input type="password" name="password">
  <br>
  <br>
  <label for="verify">Verify Password</label>
  <input type="password" name="verify">
  <input type="submit" value="Signup">
</form>

{{#if error}}
<p style="color: red;">{{error}}</p>
{{/if}}
<br>
<br>

<a href="/auth/facebook">Signup with Facebook</a>
<br>
<br>
<a href="/auth/google">Signup with Google</a>