<div class="content">
    <h1>Log in</h1>
    {{#if error}}
    <p style="color: crimson;">{{error}}</p>
    {{/if}}
    <form action="/login" method="post">
        <label for="email">Email:
            <input type="text" name="email" id="email">
        </label>
        <br>
        <label for="password">Password:
            <input type="text" name="password" id="password">
        </label>
        <br>
        <br>
        <button type="submit">Log in</button>
    </form>
    <a href="/"><button>Back</button></a>
    <a href="/signup"><button>Sign up</button></a>
</div>