{{#if error}}
<p style="color: red;">{{error}}</p>
{{/if}}
<div>
  <form action="/login" method="POST">
    <label for="email">Email:</label>
    <input type="email" name="email" required>
    <label for="email">Password:</label>
    <input type="password" name="password" required>
    <button type="submit">Log in</button>
  </form>
</div>
<div>
  <a href="/auth/google">Login With Google</a>
</div>
<div>
  <a href="/auth/facebook">Login With Facebook</a>
</div>
<div>
  <p>You don't have an account yet?<br><a href="/signup">Register here!</a></p>
</div>