<h1>Signup</h1>

<form action="/signup" method="post">
  <label for="username">Username:
    <input type="username" name="username" id="username">
  </label>
  <br>
  <label for="password">Password:
    <input type="password" name="password" id="password">
  </label>
  <br>
  {{#if errorMessage}}
  <div class="error-message">{{errorMessage}}</div>
  {{/if}}
  <button type="submit">Signup</button>

   <p> - or -</p>
  <a href="/auth/google">Signup With Google</a>
  <a href="/auth/facebook">Signup With Facebook</a>

</form>