<div>
  <form action="/places/add" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" required>
    <label for="placeType">Place Type:</label>
    <select name="placeType" id="placeType">
      <option value="Coffee Shop">Coffee Shop</option>
      <option value="Bookstore">Bookstore</option>
    </select>
    <button type="submit">Save new place</button>
  </form>
</div>