<h1>{{title}}</h1>



<form action="{{action}}" method="POST">
  <input type="text" name="name" placeholder="Mario Lopez" />

  <input type="email" name="email" placeholder="mario@lopez.com">
  <input type="password" name="password">

  <input type="password" name="verify">

  <input type="submit" value="{{button}}">
</form>


<a href="/auth/facebook">Login with Facebook</a>